@font-face {
    font-family: 'HSSaemaul-Regular';
    src: url('./HSSaemaul-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CookieRun-Regular';
    src: url('./CookieRun-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NanumSquareR';
    src: url('./NanumSquareR.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}